<% layout('boilerplate') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>

<% stylesheet('css/featured-product.css') -%>

<% block('header', '') -%>

<% include partials/materializeheader %>
<% include partials/hero %>
<% include partials/featuredProduct %>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="tel:8448440572">
        <i class="material-icons black-text">call</i>
    </a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelector('.carousel');
        // var options = {
        //     shift: 100,
        //     fullWidth: true
        // }
        var instance = M.Carousel.init(elems);

        setInterval(function () {
            instance.next(1)
        }, 10000)
        $('.sidenav').sidenav();
        let posters = document.querySelectorAll('.poster');
        var index = 0;
        // setInterval(function () {
        //     console.log(posters.length)
        //     if (index === 0) {
        //         posters[index].style.display = "";
        //         index = index + 1;
        //     } else {
        //         posters[index - 1].style.display = "none";
        //         posters[index].style.display = "";
        //         index = index + 1;
        //     };
        //     if (index === posters.length) { posters[index - 1].style.display = "none"; index = 0; }
        // }, 10000)
        /*------------------
            Gallery filter
        --------------------*/
        $('.set-bg').each(function () {
            var bg = $(this).data('setbg');
            $(this).css('background-image', 'url(' + bg + ')');
        });

        if ($('.featured__filter').length > 0) {
            var containerEl = document.querySelector('.featured__filter');
            var mixer = mixitup(containerEl);
        }
        $('.featured__controls li').on('click', function () {
            $('.featured__controls li').removeClass('active');
            $(this).addClass('active');
        });

        //var uid = document.getElementById('secretid').innerText
        document.getElementById('displaySeedOnLoad').click();
        // console.log(document.cookie)
    });

    function updateViewMoreLink(category) {
        document.getElementById('viewMoreLink').setAttribute('href', `/shop/${category}`)
    }


</script>

<% block('footer', '') -%>

<% block('pageScript').append() %>