<footer class="page-footer lime lighten-1" >
    <div class="container">
      <div class="row ">
        <div class="col l6 s12">
          <h5 class="white-text">अपना किसान</h5>
        </div>
        <div class="col">
          <img src="/img/logo.png" alt="" width="50px" height="50px">
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">अपना किसान से जुड़ें</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Apna Kisan
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>